//.div-main {
//    background: #b07ff1;
//    height: 400px;
//    width: 500px;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//}
//.div-content {
//    height: 50px;
//    width: 200px;
//    background: #403f3f;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    img {
//        width: 30px;
//    }
//}

.div-main {
    background: #b07ff1;
    height: 400px;
    width: 500px;
    position: relative;
}
.div-content {
    background: #403f3f;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    img {
        width: 30px;
    }
}

